/* This is an example of using Sass, otherwise plain CSS works too*/
@import './normalize.scss';

$primary-background:#634E60;
$primary-font: 'Garamond', sans-serif;
$accent-font:'Roboto Mono', monospace;
$accent-color: #CAB8E2;

* {
  box-sizing: border-box;
  margin: auto;
  // border: pink solid 1px;
}

body {
  background-color: $primary-background;
}

.header {
  background-image:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../images/overlook-grand.jpg');
  // background-size: cover;
	background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  height: 40vh;
  padding: 5px;
}

.forecast {
  margin-left: 0;
  align-self: flex-start;
  font-family: $accent-font;
  font-size: 1em;
  color: $accent-color;
}

.horoscope {
  @extend.forecast;
  margin-right: 0;
}

.quote {
  background-color: #8F4F58;
  text-align: center;
  font-family: $accent-font;
  font-size: 1.2em;
  color: $accent-color;
  margin-bottom: 5px;
}
.real-main {
  display: flex;
  flex-direction: space-between;
  height: 60vh;
  li {
    list-style: none;
    font-size: 1em;
  }
}
.aside {
  font-family: $accent-font;
  font-size: 1.2em;
  color: $accent-color;
  height: 100%;
  width: 20%;
    li{
      list-style: circle;
    }
}
.to-do-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.to-do-input,
.to-do-button {
  width: 200px;
  height: 30px;
}

.container {
  font-family: $primary-font;
  font-size: 0.9em;
  margin: 0 auto;
  height: 100%;
  width: 80%;
}

.tab-content {
  height: 60vh;
}

ul.tabs {
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  font-family: $primary-font;
  font-size: 1em;
  background: none;
  color: $accent-color;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

form {
  margin-top: 20px;
}

input {
  height: 40px;
  width: 200px;
}
button {
  background-color: $primary-background;
  margin: 10px;
  height: 40px;
  width: 100px;
}

.room-list-container {
    p {
      height: 40px;
      color: $primary-background;
      font-size: 1em;
      cursor: pointer;
    }
}

.rooms {
  overflow: scroll;
}

.current-guest-bookings,
.current-guest-orders {
  margin-top: 20px;
}
.list-header {
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .aside {
    display: none;
  }

  .container {
    width: 95%;
  }

  .header {
    background-image: none;

  }


}
