/* This is an example of using Sass, otherwise plain CSS works too*/
@import './normalize.scss';

$primary-background:#634E60;
$accent-font: 'Special Elite', cursive;
$accent-color: #CAB8E2;
$logo-font: 'Special Elite', cursive;
$primary-font:'Roboto Mono', monospace;

* {
  box-sizing: border-box;
  margin: auto;
  // border: pink solid 1px;
}

body {
  background-color: $primary-background;
}

//Styling for page header
.header {
  background-image:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../images/overlook-grand.jpg');
	background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  height: 40vh;
  padding-left: 10px;
  padding-right: 10px;
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  font-size: .5em;
  border: 2px double $accent-color;
  padding: 5px;
  margin-left: 0;
  align-self: flex-start;
  font-family: $accent-font;
  font-size: 1em;
  color: $accent-color;
  height: 250px;
  width: 250px;
    div { 
      border: 2px solid $accent-color;
      height: 95%;
      width: 95%;
      padding: 5px;
    }
}

.temp {
  font-size: 32px;
  font-family: $logo-font;
}

.logo {
  display: none;
  border: 5px solid $accent-color;
  color: $accent-color;
  font-family: $logo-font;
  font-size: 14em;
  text-align: center;
  width: 200px;
  height: 35vh;
    div { 
      border: 5px solid $accent-color;
      height: 94%;
      width: 94%;
      margin: 5px;
    }
}

.horoscope {
  @extend.forecast;
  margin-right: 0;
}
.horo-text {
  font-size: .7em;
}

.quote {
  background-color: #8F4F58;
  text-align: center;
  font-family: $accent-font;
  font-size: 1.2em;
  color: $accent-color;
  margin-bottom: 5px;
}

//Styling for main page area and aside 
.real-main {
  display: flex;
  flex-direction: space-between;
  height: 60vh;
  li {
    list-style: none;
    font-size: 1em;
  }
}
.aside {
  font-family: $accent-font;
  font-size: 1.2em;
  color: $accent-color;
  height: 100%;
  width: 20%;
    li{
      list-style: circle;
      margin: 5px;
    }
}
.to-do-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.to-do-input,
.to-do-button {
  width: 200px;
  height: 30px;
}

//Styling for tabbed content 
.container {
  font-family: $primary-font;
  font-size: 0.9em;
  margin: 0 auto;
  height: 100%;
  width: 80%;
}

#tab-1, #tab-3, #tab-4 {
  h2 {
    margin: 10px;
  }
}

.tab-content {
  height: 60vh;
}

ul.tabs {
  font-size: 1.2em;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  font-family: $primary-font;
  font-size: 1em;
  background: none;
  color: $accent-color;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}

form {
  margin-top: 20px;
}

input {
  height: 40px;
  width: 200px;
}
button {
  background-color: $primary-background;
  color: $accent-color;
  margin: 10px;
  height: 40px;
  width: 100px;
}

.room-list-container {
    p {
      height: 40px;
      color: $primary-background;
      font-size: 1em;
      cursor: pointer;
    }
}

.rooms {
  overflow: scroll;
}

.current-guest-bookings,
.current-guest-orders {
  margin-top: 20px;
}
.list-header {
  font-size: 1.5em;
}

.new-book-button {
  width: 60px;
  height: 30px;
  color: $accent-color;
}

//Media queries
@media only screen and (max-width: 1084px) {
  .forecast,
  .horoscope {
    display: none;
  }

}

@media only screen and (max-width: 600px) {
  .aside {
    display: none;
  }

  .container {
    width: 95%;
  }

  .header {
    background-image: none;
  }

  .logo {
    display: inline-block;
  }

}
