/* This is an example of using Sass, otherwise plain CSS works too*/
@import './normalize.scss';

$primary-background:#634E60;
$primary-font: 'Garamond', sans-serif;
$accent-font:'Roboto Mono', monospace;
$accent-color: #CAB8E2;

* {
  box-sizing: border-box;
  margin: auto;
  border: pink solid 1px;
}

body {
  background-color: $primary-background;
}

.header {
  background-image:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('../images/overlook-grand.jpg');
  // background-size: cover;
	background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.quote{
  text-align: center;
  font-family: $accent-font;
  color: $accent-color;
}
.main {
  display: flex;
  flex-direction: space-between;
  height: 60vh;
}
.aside {
  font-family: $accent-font;
  height: 100%;
  width: 20%;
}
.to-do-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.to-do-input,
.to-do-button {
  width: 200px;
  height: 30px;
}

.container {
  font-family: $primary-font;
  margin: 0 auto;
  height: 100%;
  width: 80%;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;
  color: #222;
}

.tab-content{
  display: none;
  background: #ededed;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}
